{% trans_default_domain 'LoevgaardPakkelabelsBundle' %}

<h1>{{ 'shipping_method_mapping.show.heading'|trans }}</h1>

<p>{{ shippingMethodMapping.source }} => {{ shippingMethodMapping.productCode }}</p>